<%= form_for @user, :html => { :class => 'form-horizontal' } do |f| %>
<div class="page-header">
  <h4><%=t @user.name%></h4>
</div>
  <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class='control-label'>
      <%= @user.name %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :avatar, :class => 'control-label' %>
    <div class='control-label'>
      <%= image_tag(@user.avatar, class: "img-circle") %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :email, :class => 'control-label' %>
    <div class='control-label'>
      <%= @user.email %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :is_admin, :class => 'control-label' %>
    <div class="controls">
      <%= f.check_box :is_admin, :class => 'check_box' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :is_blocked, :class => 'control-label' %>
    <div class="controls">
      <%= f.check_box :is_blocked, :class => 'check_box' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                users_path, :class => 'btn' %>
  </div>
<% end %>
