<%= form_for @book, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :title, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :title, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :author, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :author, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :isbn, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :isbn, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :image, :class => 'control-label' %>
    <div class="controls">
      <%= f.file_field :image, :class => 'file_field' %>
      <% if @book.image? %>
        <%= image_tag(@book.image_url(:thumb), class: "img-thumbnail") %>
      <% else %>
        <%= image_required_message %>
      <% end %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :tags, :class => 'control-label' %>
    <div class="controls">
      <%= f.collection_select(:tag_ids, Tag.all, :id, :name, {selected: @book.tag_ids},{ multiple: true }) %>
    </div>
  </div>
  <% if @book.is_approved? %>
    <div class="control-group">
      <%= f.label :is_active, :class => 'control-label' %>
      <div class="controls">
        <%= f.check_box :is_active, :class => 'check_box' %>
      </div>
    </div>
  <% end %>
  <% if is_admin? && can_be_approved?(@book) %>
    <div class="control-group">
      <%= f.label :approve, :class => 'control-label' %>
      <div class="controls">
        <%= f.check_box :is_approved, :class => 'check_box' %>
      </div>
    </div>
  <% end %>

  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
              books_path, :class => 'btn' %>

<% end %>
