<%- model_class = Book -%>
<%= nav_bar :fluid => :top, :brand => @book.title.titleize, :responsive => true do %>
  <%= menu_group :pull => :right do %>
    <% if ( user_signed_in? ) %>
      <%= drop_down_with_submenu "Actions" do %>
        <% if ( ( is_admin? || is_owner?(@book)) ) %>
          <%= menu_item t('.edit', :default => t("helpers.links.edit")), edit_book_path(@book) %>
          <% if ( @book.reviews.empty? ) %>
            <%= menu_item t('.destroy', :default => t("helpers.links.destroy")), book_path(@book),
                      :method => 'delete',
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) } %>
          <% end %>
          <%= drop_down_divider %>
        <% end %>
        <% if ( can_be_reviewed?(@book) ) %>
          <%= menu_item 'Add Review', new_book_review_path(@book.id) %>
          <%= drop_down_divider %>
          <% if ( @is_followed_by_cuurent_user ) %>
            <%= menu_item 'Follow', follow_book_path(@book) %>
          <% else %>
            <%= menu_item 'Stop Following', stop_following_book_path(@book) %>
          <% end %>
          <% if ( @book_preferences.nil? ) %>
            <%= menu_item 'Preferences', new_book_preference_path(@book.id) %>
          <% else %>
            <%= menu_item 'Preferences', book_preference_path(@book.id, @book_preferences) %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
<div class="row-fluid">
  <div class="span4">
    <dl class="dl-horizontal">
      <dt><strong><%= model_class.human_attribute_name(:title) %>:</strong></dt>
      <dd><%= @book.title %></dd>
      <dt><strong><%= model_class.human_attribute_name(:author) %>:</strong></dt>
      <dd><%= @book.author %></dd>
      <dt><strong><%= model_class.human_attribute_name(:isbn) %>:</strong></dt>
      <dd><%= @book.isbn %></dd>
      <dt><strong><%= model_class.human_attribute_name(:avg_rating) %>:</strong></dt>
      <dd><%= @book.avg_rating %></dd>
      <dt><strong><%= model_class.human_attribute_name(:tags) %>:</strong></dt>
      <dd><%= tag_helper(@book) %></dd>
    </dl>
  </div>
  <div class="span6">
    <dl class="dl-horizontal">
      <dd><%= image_tag(@book.image_url, class: "img") %></dd>
    </dl>
  </div>
</div>

<%= link_to t('.back', :default => t("helpers.links.back")),
            books_path, :class => 'btn btn-mini'  %>
<div class="row-fluid">

  <div class="page-header">
  </div>
  <% if ( !@book.reviews.empty? ) %>
    <div class="row-fluid">
      <%= render "reviews" %>
    </div>
  <% end %>
</div>

