<h4>Preferences for <%= @book.title.titleize %></h4>
<%= form_for ([@book, @book_preference]), :url => {:controller => 'preferences', :action => action}, :html => { :class => 'form-horizontal' } do |f| %>

  <div class="control-group">
    <%= f.label :opt_out_by_rating, :class => 'control-label' %>
    <div class="controls">
      <%= f.check_box :by_rating, :class => 'check_box' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :rating_threshold, :class => 'control-label' %>
    <div class="controls">
      <%= f.select(:rating_threshold, options_for_select([["1", 1], ["2", 2], ["3", 3], ["4", 4], ["5", 5]], @book_preference.rating_threshold)) %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :opt_out_by_review, :class => 'control-label' %>
    <div class="controls">
      <%= f.check_box :by_review, :class => 'check_box' %>
    </div>
  </div>
  <%= f.submit 'Set Preferences', :method => 'put', :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
              book_path(@book), :class => 'btn' %>
<% end %>